.en-button {
  @include inset-button;

  position: relative;
  transition: .2s;
  border-radius: $border-round;
  color: white;
  overflow: hidden;
}
.en-button.is-circle{
  border-radius: 50%;
  padding: 0;
  .uIcon{
    display: inline-block;
  }
}
//按钮大小
.en-button-small{
  padding: pxTorem(5px) pxTorem(11px) ;
  font-size: pxTorem(12px);
  .loading{
    width: pxTorem(12px);
    height: pxTorem(12px);
    line-height: pxTorem(12px);
  }
}
.en-button-small.is-circle .uIcon{
  font-size: pxTorem(12px);
  line-height: pxTorem(12px);
  height: pxTorem(12px);
  margin: pxTorem(8px);
}

.en-button-default{
  padding: pxTorem(8px) pxTorem(15px) ;
  font-size: pxTorem(14px);
  .loading{
    width: pxTorem(14px);
    height: pxTorem(14px);
    line-height: pxTorem(14px);
  }
}

.en-button-default.is-circle .uIcon{
  font-size: pxTorem(14px);
  line-height: pxTorem(14px);
  height: pxTorem(14px);
  margin: pxTorem(10px);
}

.en-button-large{
  padding: pxTorem(12px) pxTorem(19px) ;
  font-size: pxTorem(14px);
  .loading{
    width: pxTorem(14px);
    height: pxTorem(14px);
    line-height: pxTorem(14px);
  }
}

.en-button-large.is-circle .uIcon{
  font-size: pxTorem(16px);
  line-height: pxTorem(16px);
  height: pxTorem(16px);
  margin: pxTorem(12px);
}

//默认按钮
.en-button-light{
  background-color: $light-color;
  color: $dark-color;
  border: $secondary-color 1px solid;
  &:hover{
    background-color: rgba($primary-color, 0.1);
    color: $primary-color;
    border: rgba($primary-color,0.5) 1px solid;
  }
}

.en-button-dark{
  background-color: $dark-color;
  border: $dark-color 1px solid;
}

.en-button-primary{
  background-color: $primary-color;
  border: $primary-color 1px solid;
}

.en-button-info{
  background-color: $info-color;
  border: $info-color 1px solid;
}

.en-button-success{
  background-color: $success-color;
  border: $success-color 1px solid;
}

.en-button-warning{
  background-color: $warning-color;
  border: $warning-color 1px solid;
}

.en-button-danger{
  background-color: $danger-color;
  border: $danger-color 1px solid;
}

.en-button-rich{
  background-color: $rich-color;
  border: $rich-color 1px solid;
}

.is-text{
  border: 0!important;
  background-color: transparent;
  &:hover{
    background-color: rgba($secondary-color,0.09);
    opacity: 1;
  }
  @at-root .en-button-light#{&} {
    color: $dark-color;
    &:hover{
      color: rgba($dark-color,0.75);
    }
  }
  @at-root .en-button-dark#{&} {
    color: $dark-color;
  }
  @at-root .en-button-primary#{&} {
    color: $primary-color;
  }
  @at-root .en-button-info#{&} {
    color: $info-color;
  }
  @at-root .en-button-success#{&} {
    color: $success-color;
  }
  @at-root .en-button-warning#{&} {
    color: $warning-color;
  }
  @at-root .en-button-danger#{&} {
    color: $danger-color;
  }
  @at-root .en-button-rich#{&} {
    color: $rich-color;
  }
}

.is-plain{
  border: 0;
  &:hover{
    color: $light-color!important;
    border: 0;
    opacity: 1;
  }
  @at-root .en-button-light#{&} {
    background-color: $light-color;
    color: $dark-color;
    border: $secondary-color 1px solid;
    &:hover{
      background-color: rgba($primary-color, 0.1);
      color: $primary-color!important;
      border: $primary-color 1px solid;
    }
  }
  @at-root .en-button-dark#{&} {
    color: $dark-color;
    border: 1px solid $dark-color;
    background-color: rgba($dark-color, .15);
    &:hover{
      background-color: $dark-color;
    }
  }
  @at-root .en-button-primary#{&} {
    color: $primary-color;
    border: 1px solid $primary-color;
    background-color: rgba($primary-color, .15);
    &:hover{
      background-color: $primary-color;
    }
  }
  @at-root .en-button-info#{&} {
    color: $info-color;
    border: 1px solid $info-color;
    background-color: rgba($info-color, .15);
    &:hover{
      background-color: $info-color;
    }
  }
  @at-root .en-button-success#{&} {
    color: $success-color;
    border: 1px solid $success-color;
    background-color: rgba($success-color, .15);
    &:hover{
      background-color: $success-color;
    }
  }
  @at-root .en-button-warning#{&} {
    color: $warning-color;
    border: 1px solid $warning-color;
    background-color: rgba($warning-color, .15);
    &:hover{
      background-color: $warning-color;
    }
  }
  @at-root .en-button-danger#{&} {
    color: $danger-color;
    border: 1px solid $danger-color;
    background-color: rgba($danger-color, .15);
    &:hover{
      background-color: $danger-color;
    }
  }
  @at-root .en-button-rich#{&} {
    color: $rich-color;
    border: 1px solid $rich-color;
    background-color: rgba($rich-color, .15);
    &:hover{
      background-color: $rich-color;
    }
  }
}

.loading{
  display: inline-block;
  animation: loading 2s linear infinite;
  transform-origin: 50% 50%;
  margin-right: pxTorem(6px);
}

.uIcon~.buttonText,
.loading~.buttonText{
  padding-left: pxTorem(6px);
}

:deep(.en-ripple){
  position: absolute;
  border-radius: 50%;
  background: white;
  opacity: 0;
  width: 0;
  height: 0;
  transform: translate(-50%, -50%);
  animation: ripple 500ms linear;
}

@keyframes loading {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes ripple {
  0% { opacity: 0.15; }
  100% { opacity: 0;height: 280%;width: 280%;}
}
