//基础颜色变量
$primary-color:#409EFF;
$success-color:#67c23A;
$warning-color:#E6a23c;
$danger-color:#F56C6C;
$info-color:#17A2B8;
$rich-color:#EBDC3D;
$light-color:#F8F9FA;
$black-color:#000000;
$dark-color:#343A40;
$secondary-color:#6C757D;
$transparent-color:transparent;

$border-round:5px;


